*{  
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Ubuntu Mono', monospace;   
}
/* https://google-webfonts-helper.herokuapp.com/fonts/open-sans?subsets=latin */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'),
       url('fonts/ubuntu-mono-v7-latin-regular.woff2') format('woff2'), 
       url('fonts/ubuntu-mono-v7-latin-regular.woff') format('woff');
}
/* ubuntu-mono-regular - latin */
/* font-family: 'Ubuntu Mono', monospace; */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('fonts/open-sans-v15-latin-regular.woff2') format('woff2'), 
       url('fonts/open-sans-v15-latin-regular.woff') format('woff'); 
}
/* open-sans-regular - latin */
/* font-family: 'Open Sans', sans-serif; */
 
:root{
  
  --dark: #0E1215; 
  --white: #ffffff; 
  
  --blue-0: #151925;  
  --blue-1: #242844; 
  --blue-2: #6680ff;
   
  --grey-0: #1C2125; 
  --grey-1: #2C374B;
}  

.dark{  background: var( --dark ); }
.white{ background: var( --white ); }

.blue-0{ background: var( --blue-0 ); }
.blue-1{ background: var( --blue-1 ); }
.blue-2{ background: var( --blue-2 ); }

.grey-0{ background: var( --grey-0 ); }
.grey-1{ background: var( --grey-1 ); }
 
.size_50_50{
  height: 50px;
  width: 50px;
}

.view_content_top_left{  
  background: violet;
}
.view_content_top_center{  
  background: black;
  color: white;
}
.view_content_top_right{  
  background: blue;
}
.view_content_middle{
  background: green;
  
}
.view_content_bottom{
  background: blue;
  
}
.view{  
  display: grid;
  grid-template-columns: 100%; 
  grid-template-rows: 60px 160px calc( 100vh - 60px - 160px - 20px );
  background: var(--dark);
  grid-gap: 5px;
  padding: 5px;
}

.view_content_top{  
  background: red;
}
